/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/

nav .logo {
	max-height: 36px;
}

@media screen and (min-width: 480px) {
	nav .logo {
		max-height: 72px;
	}
}


.nav-1 .logo {
	margin-top: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background: #ffffff;
}

.navbar-brand {
	height: auto;
}

.navbar-toggle {
	margin-top: 15px;
}

.menu {
	margin-top: 33px;
}

.navbar-toggle.in .menu {
	margin-top: 8px;
}

.navbar-collapse {
	text-align: center;
}

.footer-1 .logo {
	max-height: 30px;
}

.content {
	margin: 15px 0px;
	padding: 15px 30px;
	background: #fff;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
	margin-bottom: 12px;
}

.content h1 {
	font-size: 38px;
	margin-bottom: 24px;
	line-height: 46px;
}

.content h2 {
	font-size: 34px;
	line-height: 42px;
}

.content h3 {
	font-size: 30px;
	line-height: 38px;
}

.content h4 {
	font-size: 26px;
	line-height: 34px;
}

.content h5 {
	font-size: 22px;
	line-height: 30px;
}

.content h6 {
	font-size: 18px;
	line-height: 26px;
}



input[type="email"], input[type="tel"], input[type="url"] {
    height: 54px;
    line-height: 48px;
    padding-left: 16px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 3px;
    font-size: 16px;
    color: #888888;
    font-weight: 400;
}

#edd_checkout_cart_form {
	width: 100%;
}

.menu li {
	padding: 6px 0px;
}

.menu li.button--blue {
	padding: 6px 12px;
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #fff;
	background: #3276b1;
	border-color: #285e8e;
}

.button--blue a {
	color: #fff;
}

.edd_form input[type="text"],
.edd_form input[type="email"],
.edd_form input[type="password"],
.edd_form select {
	height: 36px;
	line-height: 18px;
	padding-left: 16px;
	border: 1px solid #eee;
	background: #fff;
	border-radius: 3px;
	font-size: 16px;
	color: #888888;
	width: 300px;
	font-weight: 400;
	margin-bottom: 12px;
	padding: 6px 12px 6px 12px;
}

.edd-table {
	margin-bottom: 30px;
}

input#rememberme {
	-webkit-appearance: checkbox;
	-moz-appearance:    checkbox;
	appearance:         checkbox;
}

#edd_user_history {
	margin-bottom: 30px;
}

#edd_subscription_receipt {
	margin-bottom: 30px;
}

#edd_user_history td,
#edd_user_history th,
#edd_sl_license_keys td,
#edd_sl_license_keys th,
#edd_subscription_receipt td,
#edd_subscription_receipt th,
.edd-table td,
.edd-table th {
	padding: 8px 10px;
	font-size: 13px;
	line-height: 16px;
}

.post_meta {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.comments-area li.comment {
	padding: 15px;
	background: #fff;
	margin-bottom: 30px;
}

p.comment-form-comment label {
	display: block;
}

.comment-respond {
	margin-bottom: 30px;
}
